<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Caroline Forbes</title>
</head>
<body>
     <div class="header">
        <picture>
            <source srcset="" media="(min-whidth:245px)">
            <source srcset="" media="(min-whidth:465px)">
            <img src="/static/img/The Vampire Diaries _3.jpg" alt="TVD Logo">
        </picture>
        <h1>THE VAMPIRE DIARES WIKI</h1>
    </div>

    <nav class="navbar">
        <a href="/">Início</a>&nbsp;
        <a href="/personagens">Personagens</a>&nbsp;
        <a href="/história">História</a>&nbsp;
        <a href="/lendas">Lendas</a>&nbsp;
        <a href="/sinopse">Sinopse</a>&nbsp;
        <a href="/sobre">Sobre</a>
    </nav>
    
    <div class="text">
        <img class="perfil_p" src="/static/img/Caroline/Caroline.jpg" alt="Caroline Forbes"> 
        <h2 class="título_text">Caroline Forbes</h2>
        <p>
            É uma das personagens principais da série The Vampire Diaries. No início da história, ela é apresentada como uma adolescente de 17 anos popular de Mystic Falls, melhor amiga de Elena Gilbert e Bonnie Bennett. Caroline é conhecida por sua personalidade extrovertida, perfeccionista e, às vezes, controladora — sempre buscando se destacar e ser valorizada pelos que estão ao seu redor.
        </p>
        <p>
            No entanto, ao longo da série, Caroline passa por um notável processo de amadurecimento e se transforma em uma personagem forte, resiliente e profundamente leal. Ela enfrenta grandes desafios, mas usa essas experiências para crescer e se tornar uma figura essencial dentro do grupo principal. Sua inteligência emocional, senso de responsabilidade e habilidade de liderar fazem dela um dos pilares da trama.
        </p>
        <p>
            Dentro da narrativa, Caroline representa muito mais do que uma amiga ou coadjuvante: ela é uma personagem com trajetória própria, que ganha cada vez mais destaque à medida que a série avança. Sua evolução pessoal é uma das mais marcantes da história, e sua presença contribui de forma significativa para o equilíbrio emocional e estratégico do grupo central.
        </p>
    </div>

    <h2 class="título_text">Imagens de Caroline com outros personaganes</h2>
        <table>
            <tr>
                <td>
                    <img class="foto_extra" src="/static/img/Caroline/Caroline_x_Elena___TVD.jpg" alt="Caroline e Elena evento dos fundadores">
                </td>
                <td>
                    <img class="foto_extra" src="/static/img/Bonnie/Bonnie Elena e Caroline.jpg" alt="Caroline,Elena e Bonnie">
                </td>
            </tr>
        </table>

</body>
</html>