<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Damon Salvatore</title>
</head>
<body>
     <div class="header">
        <picture>
            <source srcset="" media="(min-whidth:245px)">
            <source srcset="" media="(min-whidth:465px)">
            <img src="/static/img/The Vampire Diaries _3.jpg" alt="TVD Logo">
        </picture>
        <h1>THE VAMPIRE DIARES WIKI</h1>
    </div>

    <nav class="navbar">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/personagens">Personagens</a></li>
            <li><a href="/história">História</a></li>
            <li><a href="/lendas">Lendas</a></li>
            <li><a href="/sinopse">Sinopse</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </nav>

    <div class="text">
        <img class="perfil_p" src="/static/img/Damon/Damon Jaqueta.jpg" alt="Damon Salvatore"> 
        <h2 class="título_text">Damon Salvatore</h2>
        <p>
            Damon Salvatore é um dos personagens principais da série The Vampire Diaries. Ele é um vampiro carismático, intenso e muitas vezes imprevisível, conhecido por seu senso de humor sarcástico e personalidade complexa. Damon é o irmão mais velho de Stefan Salvatore, e os dois compartilham uma relação conturbada marcada por rivalidades antigas e sentimentos profundos.
        </p>
        <p>
            Originalmente apresentado como um anti-herói, Damon tem um passado sombrio, com 170 anos de vida sobrenatural, tem uma abordagem mais impiedosa em relação à sua natureza vampírica. No entanto, ao longo da série, ele demonstra camadas mais profundas, revelando emoções, lealdade e uma luta interna entre o bem e o mal. Seu desenvolvimento é central para a trama, especialmente à medida que ele se envolve com outros personagens de forma significativa e transforma suas motivações ao longo do tempo. Apesar de seu comportamento muitas vezes impulsivo e provocador, Damon é uma figura essencial na narrativa, trazendo intensidade e imprevisibilidade à história.
        </p>
    </div>

        <h2 class="título_text">Imagens de Damon com outros personaganes</h2>
        <table>
            <tr>
                <td>
                    <img class="foto_extra" src="/static/img/Damon/Damon bebendo.jpg" alt="Damon bebendo">
                </td>
                <Td>
                    <img class="foto_extra" src="/static/img/Damon/Damon e amigos.jpg" alt="Damon e amigos">
                </Td>
            </tr>
            <tr>
                <td>
                    <img class="foto_extra" src="/static/img/Damon/Damon lembranças.jpg" alt="Stefan e Damon no passado">
                </td>
                <td>
                    <img class="foto_extra" src="/static/img/Damon/Damon Sedento.jpg" alt="Damon Sedento">
                </td>
            </tr>
        </table>
</body>
</html>