<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Elena Gilbert</title>
</head>
<body>
     <div class="header">
        <picture>
            <source srcset="" media="(min-whidth:245px)">
            <source srcset="" media="(min-whidth:465px)">
            <img src="/static/img/The Vampire Diaries _3.jpg" alt="TVD Logo">
        </picture>
        <h1>THE VAMPIRE DIARES WIKI</h1>
    </div>

    <nav class="navbar">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/personagens">Personagens</a></li>
            <li><a href="/história">História</a></li>
            <li><a href="/lendas">Lendas</a></li>
            <li><a href="/sinopse">Sinopse</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </nav>

    <div class="text">
        <img class="perfil_p" src="/static/img/Elena/Elena_Gilbert.jpg" alt="Elena Gilbert"> 
        <h2 class="título_text">Elena Gilbert</h2>
        <p>
            É a protagonista central de The Vampire Diaries e desempenha um papel fundamental na história desde o início. Ela é uma jovem determinada de 17 anos, líder de torcida do Timberwolves, empática e emocionalmente forte, que vive em Mystic Falls, uma cidade pequena com muitos segredos. Elena é conhecida por sua natureza gentil e pela maneira como se importa profundamente com as pessoas ao seu redor, muitas vezes colocando as necessidades dos outros acima das suas.
        </p>
        <p>
            Após vivenciar uma grande perda em sua vida pessoal, Elena demonstra uma maturidade precoce e um senso de responsabilidade que a destaca entre os personagens. Sua personalidade combina sensibilidade com coragem, e ela está sempre disposta a enfrentar situações difíceis para proteger quem ama.
        </p>
        <p>
            Ao longo da série, Elena se torna o elo que une muitos dos personagens principais. Sua presença é um catalisador para eventos importantes e ela tem um impacto emocional significativo sobre os irmãos Salvatore, além de desempenhar um papel essencial na construção das relações, conflitos e decisões que movem a trama.
        </p>
        <p>
            Mais do que apenas uma figura romântica, Elena representa o coração da série — uma personagem que cresce com seus desafios, aprende com suas escolhas e influencia profundamente o rumo da história.
        </p>

        <br>

        <h2 class="título_text">Imagens de Elena com outros personaganes</h2>
        <table>
            <tr>
                <td>
                    <img class="foto_extra" src="/static/img/Elena/Elena amor e companhia.jpg" alt="Elna,Stefan e Damon">
                </td>
                <Td>
                    <img class="foto_extra" src="/static/img/Elena/Elena e Stefan.jpg" alt="Baile de Mascara de Elena e Stefan">
                </Td>
            </tr>
        </table>
    </div>

</body>
</html>