<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Jeremy Gilbert</title>
</head>
<body>
     <div class="header">
        <picture>
            <source srcset="" media="(min-whidth:245px)">
            <source srcset="" media="(min-whidth:465px)">
            <img src="/static/img/The Vampire Diaries _3.jpg" alt="TVD Logo">
        </picture>
        <h1>THE VAMPIRE DIARES WIKI</h1>
    </div>

    <nav class="navbar">
        <a href="/">Início</a>&nbsp;
        <a href="/personagens">Personagens</a>&nbsp;
        <a href="/história">História</a>&nbsp;
        <a href="/lendas">Lendas</a>&nbsp;
        <a href="/sinopse">Sinopse</a>&nbsp;
        <a href="/sobre">Sobre</a>
    </nav>

    <div class="text">
        <img class="perfil_p" src="/static/img/Jeremy/Jeremy inicio.jpg" alt="Jeremy no inicio"> 
        <h2 class="título_text">Jeremy Gilbert</h2>
        <p>
            É o irmão mais novo de Elena Gilbert, um dos personagens centrais de The Vampire Diaries. Ele vive em Mystic Falls e faz parte da família Gilbert, que enfrenta diversas dificuldades ao longo da série, principalmente relacionadas a perdas e os desafios que o mundo sobrenatural impõe a eles.
        </p>
        <p>
            Jeremy é um jovem que, apesar de sua idade, carrega um peso emocional significativo. Ele é sensível, impulsivo e muitas vezes luta para lidar com suas emoções e as situações difíceis que o cercam. Sua personalidade é marcada por momentos de vulnerabilidade, mas também por uma coragem crescente, conforme ele é forçado a enfrentar o inesperado e a se adaptar às mudanças drásticas em sua vida.
        </p>
        <p>
            No contexto da série, Jeremy representa a juventude tentando encontrar seu caminho em meio ao caos. Ele enfrenta não só os dramas típicos da adolescência, mas também o impacto direto das forças sobrenaturais que ameaçam sua família e cidade. Seu papel é fundamental para mostrar como o mundo sobrenatural afeta as pessoas comuns, especialmente aqueles que amam os personagens principais.
        </p>
        <p>
            A relação de Jeremy com sua irmã Elena é muito próxima e emocionalmente importante, sendo um dos alicerces para muitos momentos da série. Ele também enfrenta desafios relacionados à perda e busca de identidade, o que o torna um personagem complexo e essencial para o desenvolvimento da trama.
        </p>
    </div>

    <h2 class="título_text">Imagens de Jeremy com outros personaganes</h2>
        <table>
            <tr>
                <td>
                    <img class="foto_extra" src="/static/img/Jeremy/Jeremy suco.jpg" alt="Jeremy Suco">
                </td>
                <td>
                    <img class="foto_extra" src="/static/img/Jeremy/jeremy-gilbert-tvd.jpg" alt="Jeremy">
                </td>
                <td>
                    <img class="foto_extra" src="/static/img/Jeremy/Jemery caçador.webp" alt="Jeremy Caçador">
                </td>
            </tr>
        </table>

</body>
</html>