<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Katerine Pierce</title>
</head>
<body>
     <div class="header">
        <picture>
            <source srcset="" media="(min-whidth:245px)">
            <source srcset="" media="(min-whidth:465px)">
            <img src="/static/img/The Vampire Diaries _3.jpg" alt="TVD Logo">
        </picture>
        <h1>THE VAMPIRE DIARES WIKI</h1>
    </div>

    <nav class="navbar">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/personagens">Personagens</a></li>
            <li><a href="/história">História</a></li>
            <li><a href="/lendas">Lendas</a></li>
            <li><a href="/sinopse">Sinopse</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </nav>

    <div class="text">
        <img class="perfil_p" src="/static/img/Katherine/TVD__Kathrine_Petrova.jpg" alt="Katherine no passado"> 
        <h2 class="título_text">Katherine Pierce</h2>
        <p>
            Nascida Katerina Petrova, é uma das personagens mais complexas e enigmáticas de The Vampire Diaries. Ela é uma figura central no passado e presente de vários personagens, especialmente dos irmãos Salvatore. Inteligente, manipuladora e extremamente carismática, Katherine é conhecida por sua habilidade de sobreviver a qualquer custo usando charme, astúcia e, muitas vezes, crueldade.
        </p>
        <p>
            Sua origem remonta ao século XV, como parte da linhagem Petrova, que carrega um papel importante dentro da mitologia da série. Desde então, Katherine está ligada a eventos sobrenaturais de grande impacto, e suas escolhas moldam o destino de muitos personagens ao longo do tempo.
        </p>
        <p>
            Ao contrário de outras figuras femininas da série que seguem caminhos mais emotivos ou redentores, Katherine é movida principalmente pela autopreservação. Ela é independente, audaciosa e raramente se deixa abalar por sentimentos — embora sua história revele motivações mais profundas por trás de sua frieza.
        </p>
        <p>
            O papel de Katherine na série vai muito além de antagonista: ela representa a dualidade entre amor e sobrevivência, culpa e liberdade. Sua presença complica, desafia e movimenta a trama, sendo essencial para muitos dos conflitos e revelações centrais ao enredo. Sempre um passo à frente, Katherine é imprevisível — e justamente por isso, inesquecível.
        </p>
    </div>

    <h2 class="título_text">Imagens de Katherine com outros personaganes</h2>
        <table>
            <tr>
                <td>
                    <img class="foto_extra" src="/static/img/Katherine/Elena e Katherine.jpg" alt="Elena e Katherine">
                </td>
                <td>
                    <img class="foto_extra" src="/static/img/Katherine/Stefan_and_Katherine.jpg" alt="Katherine e Stefan">
                </td>
            </tr>
        </table>

</body>
</html>