<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Matt Donovan</title>
</head>
<body>
     <div class="header">
        <picture>
            <source srcset="" media="(min-whidth:245px)">
            <source srcset="" media="(min-whidth:465px)">
            <img src="/static/img/The Vampire Diaries _3.jpg" alt="TVD Logo">
        </picture>
        <h1>THE VAMPIRE DIARES WIKI</h1>
    </div>

    <nav class="navbar">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/personagens">Personagens</a></li>
            <li><a href="/história">História</a></li>
            <li><a href="/lendas">Lendas</a></li>
            <li><a href="/sinopse">Sinopse</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </nav>

    <div class="text">
        <img class="perfil_p" src="/static/img/Matt/Matt Escola.jpg" alt="Matt Donovan"> 
        <h2 class="título_text">Matt Donovan</h2>
        <p>
             É um dos poucos personagens principais de The Vampire Diaries que permanece completamente humano durante grande parte da série. Ele é o típico "garoto do interior" diferente dos outros personagens principais, não vem de família fundadora. É honesto, leal, trabalhador e com um forte senso de certo e errado. Criado em Mystic Falls e amigo de infância de Elena, Bonnie, Caroline e Tyler, Matt é um símbolo da vida normal em meio ao caos sobrenatural que toma conta da cidade.
        </p>
        <p>
            Ao longo da série, Matt se vê cada vez mais cercado por criaturas sobrenaturais e situações perigosas, o que o obriga a amadurecer e a desenvolver uma postura mais firme. Mesmo sem poderes, ele se recusa a ser passivo diante das ameaças, assumindo uma postura protetora e, muitas vezes, corajosa, colocando a segurança das pessoas acima do próprio conforto ou segurança.
        </p>
        <p>
            O papel de Matt na história é o de representar a humanidade pura em um mundo cada vez mais dominado por vampiros, bruxas e outras forças. Ele é a consciência moral do grupo, alguém que constantemente questiona os limites e as consequências das escolhas feitas por seus amigos. Sua trajetória é marcada por resiliência, integridade e um esforço constante para manter sua identidade e valores, mesmo quando tudo ao redor parece perdido.
        </p>
    </div>

    <h2 class="título_text">Imagens de Matt com outros personaganes</h2>
        <table>
            <tr>
                <td>
                    <img class="foto_extra" src="/static/img/Matt/Matt_Donovan.jpg" alt="Matt Sequestrado">
                </td>
                <td>
                    <img class="foto_extra" src="/static/img/Matt/Matt Preparado.jpg" alt="Matt Pronto para lutar">
                </td>
                <td>
                    <img class="foto_extra" src="/static/img/Matt/Matt Futuro.jpg" alt="Matt no futuro">
                </td>
            </tr>
        </table>

</body>
</html>