<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Stefan Salvatore</title>
</head>
<body>
     <div class="header">
        <picture>
            <source srcset="" media="(min-whidth:245px)">
            <source srcset="" media="(min-whidth:465px)">
            <img src="/static/img/The Vampire Diaries _3.jpg" alt="TVD Logo">
        </picture>
        <h1>THE VAMPIRE DIARES WIKI</h1>
    </div>

    <nav class="navbar">
        <a href="/">Início</a>&nbsp;
        <a href="/personagens">Personagens</a>&nbsp;
        <a href="/história">História</a>&nbsp;
        <a href="/lendas">Lendas</a>&nbsp;
        <a href="/sinopse">Sinopse</a>&nbsp;
        <a href="/sobre">Sobre</a>
    </nav>

    <div class="text">
         <img class="perfil_p" src="/static/img/Stefan/Stefan.jpg" alt="Stefan Salvatore"> 
        <h2 class="título_text">Stefan Salvatore</h2>
        <p>
            É um dos protagonistas de The Vampire Diaries e irmão mais novo de Damon Salvatore. Diferente de Damon, Stefan é inicialmente apresentado como alguém calmo, introspectivo e guiado por um forte senso moral. Ele busca controlar seus instintos e viver em paz com sua natureza vampírica, tentando proteger os outros — mesmo que isso signifique sacrificar seus próprios desejos.
        </p>
        <p>
            Stefan, com 162 anos como vampiro, é um personagem profundamente sensível, marcado por um passado complexo e conflitos internos. Seu lado protetor e empático o torna uma figura confiável para aqueles ao seu redor, mas ele também enfrenta constantes dilemas sobre identidade, culpa e redenção. Sua ligação com a humanidade é uma parte central de sua personalidade, e ele frequentemente se esforça para manter essa conexão viva. Ao longo da série, Stefan se destaca como alguém que busca equilíbrio entre o bem e o mal dentro de si, sendo um contraponto importante à impulsividade do irmão Damon. Seu caminho é tanto de luta quanto de autodescoberta.
        </p>
    </div>


    <h2 class="título_text">Imagens de Stefan com outros personaganes</h2>
        <table>
            <tr>
                <td>
                    <img class="foto_extra" src="/static/img/Stefan/Stefan e Alexys.jpg" alt="Stefan e Alexys">
                </td>
                <Td>
                    <img class="foto_extra" src="/static/img/Elena/Elena e Stefan.jpg" alt="Baile de Mascara de Elena e Stefan">
                </Td>
                <td>
                    <img class="foto_extra" src="/static/img/Stefan/Stefan e Damon passado.jpg" alt="Stefan e Damon no passado">
                </td>
            </tr>
        </table>

</body>
</html>