<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Tyler Lockwood</title>
</head>
<body>
     <div class="header">
        <picture>
            <source srcset="" media="(min-whidth:245px)">
            <source srcset="" media="(min-whidth:465px)">
            <img src="/static/img/The Vampire Diaries _3.jpg" alt="TVD Logo">
        </picture>
        <h1>THE VAMPIRE DIARES WIKI</h1>
    </div>

    <nav class="navbar">
        <a href="/">Início</a>&nbsp;
        <a href="/personagens">Personagens</a>&nbsp;
        <a href="/história">História</a>&nbsp;
        <a href="/lendas">Lendas</a>&nbsp;
        <a href="/sinopse">Sinopse</a>&nbsp;
        <a href="/sobre">Sobre</a>
    </nav>

    <div class="text">
        <img class="perfil_p" src="/static/img/Tayler/Tyler normal.jpg" alt="Tyler Lockwood"> 
        <h2 class="título_text">Tyler Lockwood</h2>
        <p>
            É um personagem importante em The Vampire Diaries, especialmente nas primeiras temporadas. Ele é apresentado como um típico atleta do ensino médio que participa do timberwolves como jogador de futebol: impulsivo, competitivo e muitas vezes explosivo, especialmente por conta de seu temperamento difícil. Filho do prefeito de Mystic Falls, Tyler vem de uma família influente na cidade e carrega consigo a pressão de um legado familiar que, mais tarde, revela segredos profundos ligados ao mundo sobrenatural ele carrega a maldição da licantropia como parte de um legado familiar.
        </p>
        <p>
            Conforme a série avança, Tyler passa por transformações significativas — tanto físicas quanto emocionais. Ele deixa de ser apenas o jovem impulsivo e começa a enfrentar questões complexas sobre identidade, autocontrole e pertencimento. Sua jornada é marcada por altos e baixos, conflitos internos e decisões difíceis, que o forçam a crescer e a redefinir quem ele é.
        </p>
        <p>
            O papel de Tyler na série vai além de ser apenas um amigo ou interesse amoroso: ele representa a luta entre o instinto e a razão, o peso da herança familiar e o desafio de escolher seu próprio caminho, mesmo quando isso significa ir contra tudo o que conhecia.
        </p>
    </div>

    <h2 class="título_text">Imagens de Tyler com outros personaganes</h2>
        <table>
            <tr>
                <td>
                    <img class="foto_extra" src="/static/img/Tayler/Tyler.jpg" alt="Tyler bombado">
                </td>
                <td>
                    <img class="foto_extra" src="/static/img/Tayler/Tyler menino lobo.jpg" alt="Tyler modo lobisomem">
                </td>
                <td>
                    <img class="foto_extra" src="/static/img/Tayler/caroline-forbes-tyler-lockwood.webp" alt="Tyler e Caroline">
                </td>
            </tr>
        </table>
</body>
</html>