<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
</head>
<body>
    <header>
        <div class="head">
            <picture>
                <source srcset="" media="(min-whidth:245px)">
                <source srcset="" media="(min-whidth:465px)">
                <img src="/static/img/The Vampire Diaries _3.jpg" alt="TVD Logo">
            </picture>
            <h1>THE VAMPIRE DIARES WIKI</h1>
        </div>

    <nav class="navbar">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/personagens">Personagens</a></li>
            <li><a href="/história">História</a></li>
            <li><a href="/lendas">Lendas</a></li>
            <li><a href="/sinopse">Sinopse</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </nav>
    </header>

    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>
</html>