<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Lendas de Mistc Falls</title>
</head>
<body>
    <div class="header">
        <picture>
            <source srcset="" media="(min-whidth:245px)">
            <source srcset="" media="(min-whidth:465px)">
            <img src="/static/img/The Vampire Diaries _3.jpg" alt="TVD Logo">
        </picture>
        <h1>THE VAMPIRE DIARES WIKI</h1>
    </div>


     <nav class="navbar">
        <a href="/">Início</a>&nbsp;
        <a href="/personagens">Personagens</a>&nbsp;
        <a href="/história">História</a>&nbsp;
        <a href="/lendas">Lendas</a>&nbsp;
        <a href="/sinopse">Sinopse</a>&nbsp;
        <a href="/sobre">Sobre</a>
    </nav>

    <div class="text">
        <h2 class="título_text">As Lendas Sobrenaturais de The Vampire Diaries</h3>
        <p>Nem tudo é o que parece na pequena cidade de Mystic Falls. Sob suas ruas históricas e casarões centenários, esconde-se um mundo sombrio e fascinante, repleto de lendas que atravessam gerações. The Vampire Diaries nos leva a um lugar onde o sobrenatural é parte do cotidiano e onde cada segredo pode mudar o destino de todos.
            Entre as sombras da cidade, vivem vampiros seres imortais com sede de sangue e corações em conflito. Alguns lutam para preservar sua humanidade, como os irmãos Stefan e Damon Salvatore, enquanto outros se entregam ao caos. Mas os vampiros não estão sozinhos.
        </p>
        <p>
            As noites de lua cheia revelam uma maldição ancestral: os lobisomens, criaturas marcadas por dor e fúria, vivem entre os humanos sem saber o momento em que sua natureza será despertada. A mística Pedra da Lua carrega segredos sobre sua origem e o elo com os próprios vampiros  e muitos estão dispostos a tudo para controlar seu poder.
        </p>
        <p>
            Por outro lado, as bruxas mantêm o equilíbrio entre os mundos. Detentoras de magia ancestral, como Bonnie Bennett, elas são herdeiras de uma força conectada à natureza e à vida. Suas ações moldam o rumo de batalhas ocultas, e suas escolhas podem acender ou apagar civilizações inteiras.
        </p>
        <p>
            Mas as lendas não param por aí. Existem os Doppelgängers, pessoas idênticas ligadas por um destino que se repete como um ciclo. Há os Originais, os primeiros vampiros da história  mais antigos, mais poderosos e mais perigosos. E há os Caçadores dos Cinco, guerreiros marcados por tatuagens mágicas, destinados a erradicar os vampiros da face da Terra.
        </p>
        <p>
            Até mesmo a morte em Mystic Falls não é o fim. O Outro Lado espreita, uma dimensão onde almas perdidas aguardam, e onde os mortos, às vezes, encontram caminhos de volta.
            Cada lenda, cada criatura, cada maldição em The Vampire Diaries faz parte de um quebra-cabeça sombrio e irresistível. É uma história sobre amor, sacrifício, poder e redenção onde o sobrenatural é apenas o começo.
        </p>
    </div>

</body>
</html>