<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Persoangens da Série</title>
</head>
<body>
     <div class="header">
        <picture>
            <source srcset="" media="(min-whidth:245px)">
            <source srcset="" media="(min-whidth:465px)">
            <img src="/static/img/The Vampire Diaries _3.jpg" alt="TVD Logo">
        </picture>
        <h1>THE VAMPIRE DIARES WIKI</h1>
    </div>

    <nav class="navbar">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/personagens">Personagens</a></li>
        <li><a href="/história">História</a></li>
        <li><a href="/lendas">Lendas</a></li>
        <li><a href="/sinopse">Sinopse</a></li>
        <li><a href="/sobre">Sobre</a></li>
    </nav>
    
    <br>

    <div class="person">
        <h2 class="título_text">Personagens da Série</h2>
        <table>
            <tbody>
                <tr>
                    <td>
                        <a href="/elena">
                            <img class="perfil" src="/static/img/Elena_perfil.jpg" alt="Elena Gilbert">
                            <p class="text_p">Elena</p>
                        </a>
                    </td>
                    <td>
                        <a href="/stefan">
                            <img class="perfil" src="/static/img/Stefan-perfil.png" alt="Stefan Salvatore">
                            <p class="text_p">Stefan</p>
                        </a>
                    </td>
                    <td>
                        <a href="/damon">
                            <img class="perfil" src="/static/img/Damon_perfil.jpg" alt="Damon Salvatore">
                            <p class="text_p">Damon</p>
                        </a>
                    </td>
                    <td>
                        <a href="/caroline">
                            <img class="perfil" src="/static/img/Caroline_perfil.jpg" alt="Damon Salvatore">
                            <p class="text_p">Caroline Forbes</p>
                        </a>
                    </td>
                    <td>
                        <a href="/bonnie">
                            <img class="perfil" src="/static/img/Bonnie_perfil.jpg" alt="Damon Salvatore">
                            <p class="text_p">Bonnie Bennett</p>
                        </a>
                    </td>
                    </tr>
                    <tr>
                    <td>
                        <a href="/jeremy">
                            <img class="perfil" src="/static/img/Jeremy_perfil.jpg" alt="Damon Salvatore">
                            <p class="text_p">Jeremy Gilbert</p>
                        </a>
                    </td>
                    <td>
                        <a href="/matt">
                            <img class="perfil" src="/static/img/Matt_perfil.jpg" alt="Damon Salvatore">
                            <p class="text_p">Matt Donovan</p>
                        </a>
                    </td>
                                        <td>
                        <a href="/tyler">
                            <img class="perfil" src="/static/img/Tyler_perfil.jpg" alt="Tyler Lockwood">
                            <p class="text_p">Tyler Lockwood</p>
                        </a>
                    </td>
                    <td>
                        <a href="/alaric">
                            <img class="perfil" src="/static/img/Alaric_perfil.jpg" alt="Damon Salvatore">
                            <p class="text_p">Alaric Saltzman</p>
                        </a>
                    </td>
                    <td>
                        <a href='/katherine'>
                            <img class="perfil" src="/static/img/Katherine_perfil.jpg" alt="Katherine">
                            <p class="text_p">Katherine Pierce</p>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
</body>
</html>