<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Sinopse da Série</title>
</head>
<body>
    <div class="header">
        <picture>
            <source srcset="" media="(min-whidth:245px)">
            <source srcset="" media="(min-whidth:465px)">
            <img src="/static/img/The Vampire Diaries _3.jpg" alt="TVD Logo">
        </picture>
        <h1>THE VAMPIRE DIARES WIKI</h1>
    </div>


    <nav class="navbar">
       <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/personagens">Personagens</a></li>
            <li><a href="/história">História</a></li>
            <li><a href="/lendas">Lendas</a></li>
            <li><a href="/sinopse">Sinopse</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </nav>

    <div class="text">
        <h2 class="título_text">Sinopse da Série</h2>
        <p>Em Mystic Falls, uma cidade aparentemente tranquila, a vida da jovem Elena Gilbert muda completamente com a chegada dos irmãos Stefan e Damon Salvatore dois vampiros com um passado complexo e uma ligação profunda com o sobrenatural. 
            Conforme Elena se vê dividida entre amor, lealdade e perigos ocultos, figuras como Bonnie, sua melhor amiga com dons misteriosos, e Caroline, uma garota determinada em busca de seu lugar, também descobrem que a cidade esconde muito mais do que aparenta.
        </p>
        <p>
            Com suspense, romance e reviravoltas intensas, The Vampire Diaries mergulha o espectador em um universo onde cada escolha tem um preço, e o sobrenatural está mais próximo do que se imagina.
        </p>
    </div>

</body>
</html>