<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/estilo.css">
    <title>Sobre</title>
</head>
<body>
    <div class="header">
        <picture>
            <source srcset="" media="(min-whidth:245px)">
            <source srcset="" media="(min-whidth:465px)">
            <img src="/static/img/The Vampire Diaries _3.jpg" alt="TVD Logo">
        </picture>
        <h1>THE VAMPIRE DIARES WIKI</h1>
    </div>


   <nav class="navbar">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/personagens">Personagens</a></li>
            <li><a href="/história">História</a></li>
            <li><a href="/lendas">Lendas</a></li>
            <li><a href="/sinopse">Sinopse</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </nav>

    <div class="text">
        <h2 class="título_text">Sobre Site</h2>
        <img class="casa" src="/static/img/Casa Salvatore 2.webp" alt="Casa Salvatore">
        <p>
            Esta wiki foi criado pelos seus realizadores Dayara da Silva Carneiro Marinho e Victor Santos Dantas. O intuito é apresentar a série The Vampire Diares para mais pessoas.
        </p>
        <p>
            O projeto se iniciou como um trabalho de para uma aula de programação web, mas se tornou um trabalho querido pelos realizadores, que se sentiram feliz em realizar tal atividade.
        </p>
        <p>
            Muito obrigado professor Marlon e meu querido Pedro Fubuki pela experiência desse trabalho, sem o senhor não teriamos desenvolvido habilidades de programação web tão boas. 
        </p>
        <img class="Klaus" src="/static/img/Klaus3.jpg" alt="Klaus, o melhor!">
        <P class="final">Venha assistir The Vampire Diares e The Originals! Você não vai se arrepender.</P>
    </div>
    
</body>
</html>